.pokedex-logo {
    width: 250px;
}

.poke-logo {
    width: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.search-area {
    display: flex;
    align-items: center;
}

#searchBar {
    border: 2px solid #ccc;
    padding: 10px 10px;
    border-radius: 15px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
    display: flex;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#searchBar:hover {
    border-color: #007bff;
}

.search-btn-img {
    cursor: pointer;
    width: 40px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
}

.search-btn-img:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.search-btn-img:active {
    transform: scale(0.95);
    filter: brightness(1);
}

#searchResults {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.pokemon-card {
    width: 150px;
    text-align: center;
}

.pokemon-card img {
    width: 100px;
    height: 100px;
}

#content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

}

.poke-content {
    display: flex;
    flex-direction: row;
    padding: 40px;
    perspective: 1000px;
}

.poke-cards {
    border: solid black;
    border-radius: 10px;
    width: 250px;
    height: 240px;
    background-color: #FFE031;
    box-shadow: 1px 1px 12px 1px #000000;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
}

.poke-cards:hover {
    transform: rotateX(15deg) scale(1.4);
    box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.5);
}

.poke-char {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: -13px;
}

.poke-circle {
    border-radius: 69px;
    border: solid #a0a0a0;
    width: 120px;
    height: 120px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poke-id {
    padding-top: 5px;
    padding-left: 5px;
}

.poke-id-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.poke-char-img {
    width: 100px;
    height: 100px;
    box-sizing: content-box;
    transition: width 0.3s ease, height 0.3s ease, transform 0.5s ease;
    filter: drop-shadow(0px 3px 1.6px #000000);
    transform-style: preserve-3d;
}

.poke-char-img:hover {
    width: 170px;
    height: 170px;
    transform-origin: center;
    animation: float 1.5s ease-in-out infinite
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.poke-types {
    padding-top: 12px;
}

.poke-type-zero {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 70px;
    height: 25px;
    box-shadow: 1px 2px 5px 0px #000000;
}

.poke-type-one {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: 70px;
    height: 25px;
    box-shadow: 1px 2px 5px 0px #000000;
}

.type-one {
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
}

.type-zero {
    display: flex;
    justify-content: center;
    padding: 25px;
}

.d_none {
    display: none;
}

#content.loading {
    filter: blur(5px);
    pointer-events: none;
}

#loading {
    position: sticky;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s linear infinite;
    z-index: 999;
}

@keyframes spin {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.load-button {
    display: flex;
    justify-content: center;
    padding: 25px;
    background-color: #396BBA;
}

.load-button-style {
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 15px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s;
    display: flex;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FFE031;
}

.load-button-style:hover {
    border-color: #000000;
    transform: scale(1.1);
}


.load-button-style:active {
    transform: scale(0.95);
    filter: brightness(1);
}

.overlay {
    position: fixed;
    width: 440px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.no-scroll {
    overflow: hidden;
}

.overlay-content {
    background: white;
    border-radius: 10px;
    max-width: 500px;
    text-align: center;
    position: relative;
    background-image: url('./assets/img/pokeland2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 13px;
    cursor: pointer;
}

.close-btn:hover {
    transform: scale(1.2);
}

.close-btn:active {
    transform: scale(0.9);
    filter: brightness(1);
}

.overlay-pokemon-image {
    width: 300px;
    height: 300px;
    padding: 20px;
    transition: width 0.3s ease, height 0.3s ease, transform 0.5s ease;
    filter: drop-shadow(0px 3px 1.6px #000000);
    transform-style: preserve-3d;
    animation: float 1.5s ease-in-out infinite
}

.overlay-types {
    background-color: #0000008f;
    padding: 8px;
}

.second-stats {
    background-color: #f7e8b1;
    padding: 20px;
    height: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#statsChart {
    max-width: 400px;
    margin: 0 auto;
}

.arrow {
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    top: 22%;
    color: #ffffff;
}

.arrow:hover {
    filter: brightness(1.4);
    transform: scale(1.2);
}

.arrow:active {
    transform: scale(0.9);
    filter: brightness(1);
}

.arrow.left {
    left: 10px;
}

.arrow.right {
    right: 10px;
}

@media(max-width: 800px) {
    .poke-cards:hover {
        transform: rotateX(15deg) scale(1.2);
    }
}

@media(max-width: 666px) {
    .poke-cards:hover {
        transform: rotateX(15deg) scale(1.0);
    }
}



@media(max-width: 670px) {
    .poke-content {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media(max-width: 590px) {
    .poke-content {
        padding: 15px;
    }
}

@media(max-width: 570px) {
    .poke-content {
        padding: 20px;
    }
}

@media(max-width: 625px) {
    .header {
        flex-direction: column;
    }

    .pokedex-logo {
        padding-bottom: 15px;
    }
}

@media(max-width: 445px) {
    .overlay {
        width: 375px;
    }

    .overlay-pokemon-image {
        padding: 50px;
        ;
    }

    .overlay-types {
        margin-top: -65px;
    }
}

@media(max-width: 380px) {
    .overlay {
        width: 345px;
    }

    .overlay-pokemon-image {
        padding: 70px;
        ;
    }

    .overlay-types {
        margin-top: -94px;
    }
}

@media(max-width: 350px) {
    .overlay {
        width: 315px;
    }

    .overlay-pokemon-image {
        padding-bottom: 75px;
        margin-bottom: 20px;
    }

    .overlay-types {
        margin-top: -124px;
    }
}