body {
    margin: 0;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 36px;
}

.header {
    background-color: #000000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.bs {
    width: 150px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.imprint {
    padding: 24px 24px 24px 24px;
    font-size: 18px;
    color: white;
}

.imprint a {
    text-decoration: none;
    color: rgb(124, 124, 124);
}

.foto-container {
    background-color: rgb(92, 0, 153);
    width: 100%;
    height: 115vh;
}

.footer {
    background-color: #000000;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bs-logo {
    width: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (max-width: 620px) {
    h1 {
        font-size: 24px;
    }

    .bs {
        width: 70%;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .imprint {
        padding: 12px;
        font-size: 14px;
    }

    .foto-container {
        height: auto;
    }

    .footer {
        height: auto;
        flex-direction: column;
    }

    .bs-logo {
        width: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}