* {
    margin: 0;
    scrollbar-width: thin;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.header {
    background-color: #FFE031;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 62px 20px 62px;
    display: flex;
    justify-content: space-between;
}

.main-container {
    width: 100%;
    height: 100%;
    background-color: #396BBA;
}

.footer {
    background-color: #FFE031;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.impressum {
    text-decoration: none;
    color: #396BBA;
    font-size: 20px;
}

.datenschutz {
    text-decoration: none;
    color: #396BBA;
    font-size: 20px;
}

h1 {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}